* {
  margin: 0;
}

html, body {
  background-color: black;
  height: 100%;
}

@font-face {
  font-family: jukebox;
  src: url('../fonts/jukebox.ttf');
}

@font-face {
  font-family: people;
  src: url('../fonts/people.ttf');
}

@font-face {
  font-family: FPPONE;
  src: url('../fonts/fppone.ttf');
}

@font-face {
  font-family: Krinkes;
  src: url('../fonts/krinkes.ttf');
}

@font-face { 
  font-family: Neon; 
  src: url('../fonts/Neon.ttf'); 
}

@font-face { 
  font-family: Pacfont; 
  src: url('../fonts/PAC-FONT.ttf'); 
}

@font-face {
  font-family: Retrahaus;
  src: url('../fonts/Retrahaus.ttf');
}

nav {
  width: 25%;
  float: left;
  border-color: white;
  border-width: 5px;
  height: 100%;
  padding-top: 1em;
  box-sizing: border-box;
  position: relative;
}

#nav-border-glow {
  position: absolute;
  left: 100%;
  bottom: 0%;
  width: 5px;
  height: 100%;
  box-shadow: 0 0 10px #fff, 
  0 0 20px #fff, 
  0 0 30px #fff;
  z-index: 1;
}

.pac-font {
  font-family: Pacfont;
  font-size: 40px;
}

.pac-font-color-on {
  color: white;
}

.pac-font-color-off {
  color: grey;
}

button.pac-font {
  border-width: 0px;
  background-color: transparent;
  padding: 0px 0px 0px;
}

button.pac-font:hover{
  text-shadow: 0 0 20px yellow;
  color: yellow;
}

.neon-text {
  font-family: Neon; 
}

.neon-text.red{
  text-shadow: 0 0 10px #fff, 
  0 0 20px #fff, 
  0 0 30px #fff, 
  0 0 40px #ff0066, 
  0 0 70px #ff0066, 
  0 0 80px #ff0066;
  color: #ff0066;
}

.neon-text.blue{
  text-shadow: 0 0 10px #fff, 
  0 0 20px #fff, 
  0 0 30px #fff, 
  0 0 40px #00dcff, 
  0 0 70px #00dcff, 
  0 0 80px #00dcff;
  color: #00dcff;
}

.logo {
  font-size: 100px;
}

.logo-bottom {
  position: relative; 
  left: 60px; 
  bottom: 30px;
}

.logo-container {
  width: 100%; 
  text-align: center;
  transform: rotate(-9deg);
  position: relative;
  right: 15px;
}

#c-container {
  width: 70%;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  padding: 2em;
}

#c {
  width: 100%;
  height: 100%;
  color: white;
}

.c-brick-bar-ad{
/*  border-style: solid;
  border-color: black;
  border-width: 6px;
  background-color: silver;
  background-image: linear-gradient(335deg, white 23px, transparent 23px),
  linear-gradient(155deg, white 23px, transparent 23px),
  linear-gradient(335deg, white 23px, transparent 23px),
  linear-gradient(155deg, white 23px, transparent 23px);
  background-size: 58px 58px; 
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;*/
}

.c-on {
  display: block;
  opacity: 1;
}

.c-flicker {
  -webkit-animation-name: flicker-gc-bricks-on;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(2, start);
}

.c-off {
  display: none;
}

.g{
  border-style: groove;
  border-color: grey;
  border-radius: 1em;
}

.g:hover{
  box-shadow: 0 0 20px #00dcff,0 0 70px #00dcff;
  border-color: white;
  background-color: #00dcff;
}

.logo-bricks{
  background-color: silver;
  background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px),
  linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px);
  background-size: 58px 58px; 
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  box-shadow: inset -100px -100px 200px -90px black,
    inset -100px -100px 200px -90px black,
    inset -100px -100px 200px -90px black,
    inset 100px 100px 200px -90px black,
    inset 100px 100px 200px -90px black,
    inset 100px 100px 200px -90px black;
  position: absolute;
}

#logo-bricks-container {
  width: 100%;
  height: 40%;
}

.flicker-bricks-off{
  opacity: 0;
  -webkit-animation-name: flicker-invisible;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.flicker-logos-off-red{
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  -webkit-animation-name: flicker-lights-off-red;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.flicker-logos-off-blue{
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  -webkit-animation-name: flicker-lights-off-blue;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

#glow-container {
  box-sizing: border-box;
  height: 90%;
  padding: 2em;
  display: inline-block;
  width: 95%;
  border-radius: 3em;
  border-width: 6px;
  border-style: solid;
  position: relative;
}

.glow-container-on {
  border-color: #F3F315;
  box-shadow: 0 0 5px #F3F315, 0 0 10px #F3F315, 0 0 15px #F3F315, 0 0 20px #F3F315, 0 0 30px #F3F315, 0 0 40px #F3F315,
      inset 0 0 5px #F3F315, inset 0 0 10px #F3F315, inset 0 0 15px #F3F315, inset 0 0 20px #F3F315, inset 0 0 30px #F3F315, inset 0 0 40px #F3F315;
}

.glow-container-off {
  border-color: #3c3c3c;
}

.glow-container-flicker-on {
  border-color: #F3F315;
  box-shadow: 0 0 5px #F3F315, 0 0 10px #F3F315, 0 0 15px #F3F315, 0 0 20px #F3F315, 0 0 30px #F3F315, 0 0 40px #F3F315,
      inset 0 0 5px #F3F315, inset 0 0 10px #F3F315, inset 0 0 15px #F3F315, inset 0 0 20px #F3F315, inset 0 0 30px #F3F315, inset 0 0 40px #F3F315;
  -webkit-animation-name: flicker-gc-on;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(2, start);
}

.glow-container-flicker-off {
  border-color: #3c3c3c;
  animation: flicker-gc-on 1s ease-in 1 backwards;
}

#glow-container-bricks-container {
  width: 57%;
  height: 68%;
  margin: -40px;
  z-index: 0;
  position: absolute;
}

.glow-container-bricks-on {
  opacity: 1;
}

.bricks {
  background-color: silver;
  background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px),
  linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px);
  background-size: 58px 58px; 
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  box-shadow: inset -100px -100px 100px -90px black,
    inset -100px -100px 100px -90px black,
    inset -100px -100px 100px -90px black,
    inset 100px 100px 100px -90px black,
    inset 100px 100px 100px -90px black,
    inset 100px 100px 100px -90px black;
}

.upholstery {
  background:
  radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
  radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
  radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
  radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
  radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
  radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
  radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
  radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
  linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
  linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
  background-color: #300; 
  background-size: 100px 100px;
}

.glow-container-bricks-off {
  display: none;
}

.glow-container-bricks-flicker-off {
  animation: flicker-gc-bricks-on 1s steps(2, start) 1 backwards;
}

.glow-container-bricks-flicker-on {
  -webkit-animation-name: flicker-gc-bricks-on;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(2, start);
}

#barName {
  font-size: 65px;
  font-family: Krinkes;
  text-align: center;
}

#quenching {
  font-size: 25px;
  margin-top: 2%;
  margin-left: 5%;
  font-family: FPPONE;
  transform: scaleY(1.5);
  letter-spacing: 2px;
}

#city {
  font-size: 55px;
  font-family: FPPONE;
  text-align: center;
  transform: rotate(-7deg) scaleY(1.5);
  letter-spacing: 18px;
  margin-top: 40px;
  margin-bottom: 30px;
}

#thirstSince {
  font-size: 25px;
  text-align: right;
  margin-right: 7%;
  font-family: FPPONE;
}

#date {
  font-size: 95px;
  font-family: Retrahaus;
  text-align: right;
  margin-right: 5%;
}

#tvJuke {
  font-size: 25px;
  text-align: center;
}

#proceed {
  margin: auto;
  margin-top: 2em;
  display: block;
}

.jjbutton {
  background-color: black;
  border: solid;
  border-color: #F3F315;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #F3F315;
  text-shadow: 0 0 20px yellow;
}

.proceed-off {
  opacity: 0;
}

.jjbutton:hover {
  box-shadow: 0 0 20px yellow, inset 0 0 20px yellow;
}

.jjbutton:active {
  text-shadow: none;
  color: grey;
  box-shadow: none;
  border-color: grey;
}

.fade-in {
  opacity: 0;
  animation: flicker-gc-bricks-on .5s ease-in 1 forwards;
}

.fade-out {
  opacity: 1;
  animation: flicker-invisible .5s ease-in 1 forwards;
}

#load-bar {
  text-align: center;
}

#load-bar-from-to-date {
  text-align: center;
  padding-top: 15%;
}

#line-box {
  text-align: center;
  padding-top: 45px;
}

#speaker-box {
  font-family: jukebox;
  text-align: center;
}

#jukebox-viz {
  width: 100px;
  height: 80px;
  background-image: url('../img/jbimg.png');
  background-size: cover;
  display: inline-block;
}

#person-viz { 
  width: 100px;
  height: 80px;
  font-family: people;
  font-size: 100px;
}

#person-name {
  font-family: helvetica;
}

#song-selection {
  margin-top: 5%;
  text-align: center;
}

#song-selection button.jjbutton {
  margin-bottom: 5%;
  color: white;
  border-color: white;
  text-shadow: 0 0 20px white, 0 0 40px white;
}

#song-selection button.jjbutton:hover {
  box-shadow: 0 0 20px white, inset 0 0 20px white;
}

#song-selection .jjbutton:active {
  text-shadow: none;
  color: grey;
  box-shadow: none;
  border-color: grey;
}
