<div id='intro-setting'>
  {{ bar_name }}<br>
  QUENCHING {{city_name}}'S THIRST SINCE {{bar_founded}}<br>
  COLOR TV<br>
  JUKEBOX
  <br>
  <br>
</div>

<div id='dialogues'>
  Krmmph<br>
  Click.<br>
  Click.<br>
  <br>
  {{name_a}}: That machine's got a mind of its own!<br>
  {{name_b}}: Maybe it's haunted.<br>
  <br>
  Click.<br>
  Click.<br>
  Pop.<br>
  <br>
  {{name_a}}: It's been playing songs all by itself!<br>
  <br>
  Bzzzzzz.<br>
  <br>
  {{name_a}}: (You've got to come to a decision, <span class='personA'></span>. Do you stay here... or do you go?)<br>
  {{name_b}}: (I really need to figure this out, and figure it out now. I just don't know if I can leave this town.)<br>
  <br>
  Bzzzzzzzzzzzzzzzzzzzzzzzzz.<br>
  Bzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz.<br>
  <br>
</div>

Press <button onclick="transition()">Enter</button> to continue.