<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script> var socket = io.connect(); </script>
  <title>Jukejoint</title>
</head>
<body>

  <button onclick="load()">Start!</button>
  <script>
    var barFounded = false;
    var barName = false;
    var cityName = false;
    var personAName = false;
    var personBName = false;

    function load(){
      console.log('emit load');
      socket.emit('load');
      socket.on('load ready', loadReady);
    }

    function loadReady(data){
      barFounded = data['bar founded'];
      barName = data['bar name'];
      cityName = data['city name'];
      personAName = data['person A'];
      personBName = data['person B'];
      console.dir(data);

      var song_selection = document.getElementById('songSelection');
      song_selection.style.display = 'block';
    }
  </script>

  <div id="songSelection" style='display: none;'>
    <button onclick="selectSong('Loretta Lynn')">Coal Miners Daughter by Loretta Lynn</button>
    <button onclick="selectSong('Rick Astley')">Never Gonna Give You Up by Rick Astley</button>
    <button onclick="selectSong('Bruce Springsteen')">The River by Bruce Springsteen</button>
  </div>
  <script>
    function selectSong(artist_name){
      console.log('emit song selection');
      socket.emit('song selection', artist_name);
      socket.on('song ready', songReady);
    }

    function songReady(monologues){
      console.log('song ready');
      console.dir(monologues);
    }
  </script>

</body>
</html>